.contactSection {
    height : 100vh;

    justify-content: center;

    .title {
        height: 20%;
    }

    .contactMenu {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        
        .card {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            height: 8rem;
            padding: 0 15rem;
            font-size: 2.8rem;

            
            a {
                color: var(--text-primary);
                padding: 0 1.8rem;
                margin: 0 1.5rem;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--color-primary);
                }
            }
            span {
                font-size: 1.3rem;
                transition: all 0.3s ease;
            }

        
            .emailContact {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                &:hover a,
                &:hover span {
                    color: var(--color-primary);
                }

                .copy {
                    cursor: grab;

                    &:hover {
                        text-shadow: 0px 0px 2px var(--text-highlight);
                    }

                    &:active {
                        text-shadow: 0px 0px 5px var(--text-highlight);
                    }

                    &.copied::after {
                        content: "Copied to clipboard";
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        white-space: nowrap;
                        animation: fadeInOut 2s ease-in-out;
                    }
                }

            }
            
        }

    }

    .subtitle {
        height: 20%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}


@media (max-width: 576px) {
    .contactSection {

        .contactMenu {
          
            .card {
                font-size: 2rem;     
                
                span {
                    font-size: 1rem;
                }
            }

        }
    }
}

@media (max-width: 390px) {
  .contactSection {

        .contactMenu {
            .card {
                background: none;
                box-shadow: none;
                font-size: 5rem;
                row-gap: 6rem;
                flex-direction: column;
                
                span {
                    font-size: 2rem;
                }
            }
        }
    }
}