@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Jura:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

//576 / 768 / 992 / 1200 / 1400

:root {
  --text-primary: #ccbba4;
  --text-highlight: #fff2e2;
  --color-primary: #c9402e;
  --background: black;
  --shadow-md: 0 4px 8px rgba(0,0,0,0.15);

  --main-title-font: 'Cinzel Decorative', serif;
  --title-font: 'Cinzel', serif;
  --text-font: 'Raleway', sans-serif;
}



body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--main-title-font);
  overflow-x: hidden;
}

* {
  margin: 0;
  outline: none !important;
  
  &:focus {
    outline: none !important;
  }
}

h1 {
  font-weight: normal;
}

section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h1 {
        font-size: 2.5rem ;
        font-weight: bold;
        letter-spacing: 1rem;
        line-height: 2.5rem;
        margin: 0;
        text-align: center;
    }

    .subtitle {
        font-size: 1.5rem ;
        letter-spacing: 0.8rem;
        text-align: center;
        padding: 0 10vw;
    }
  }

  &.secondarySection {
    .title {
      margin-top: 11vh;
      margin-bottom: 3vh;
      height: 10vh;
      h2 {
        font-size: 2.5rem ;
        font-weight: bold;
        letter-spacing: 1.2rem;
        line-height: 2.5rem;
        margin: 0;
      }

    }

    .contentCard {
      margin: 0 10vw;
      width: 80vw;
      min-height: 70vh;
      padding: 3rem;
    }
    
  }
}

.highlight {
  font-family: var(--main-title-font);
  color: var(--text-highlight);
  text-shadow: 0px 0px 8px rgb(255, 74, 74);
  white-space: nowrap;
}

button {
  outline: none;
}


.card {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.394);
}

//MANTIME
.mantine-Button-root {
  color: var(--text-primary);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  outline: none;
  
  &:hover {
    background-color: var(--primary-dark);
  }
}

.mantine-Slider-track {
  background-color: var(--border);
}

.mantine-Slider-bar {
  background-color: var(--primary);
}

.mantine-Slider-thumb {
  background-color: var(--primary);
  border: none;
  box-shadow: var(--shadow-md);
  
  &:hover {
    background-color: var(--primary-light);
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text);
  border-radius: 10px;
  border: 2px solid var(--background); 
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-primary) var(--background);
}

html {
  //min-width: 350px;
}

@media (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1024px) {
  div.mainPageContainer {
    .secondarySection {
      .contentCard {
        width: 90vw;
      }
    }
  }
}

@media (max-width: 768px) {
  div.mainPageContainer {
    .secondarySection {
      .contentCard {
        width: 95vw;
      }
    }
  }
}

@media (max-width: 576px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 50%;
  }
}
