@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Jura:wght@300..700&display=swap');

:root {
  --text-primary: #ccbba4;
  --color-primary: #c9402e;
  --background: black;
  --shadow-md: 0 4px 8px rgba(0,0,0,0.15);

  --main-title-font: cinzel Decorative;
  --title-font: cinzel;
}



body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--main-title-font);
}

* {
  margin: 0;
}

h1 {
  font-weight: normal;
}

section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h1 {
        font-size: 4vmin ;
        font-weight: bold;
        letter-spacing: 2vmin;
        line-height: 4.5vmin;
        margin: 0;
    }

    .subtitle {
        font-size: 3vmin ;
        letter-spacing: 1vmin;
    }
  }

  &.secondarySection {
    .title {
      margin-top: 11vh;
      margin-bottom: 3vh;
      height: 10vh;
      h2 {
        font-size: 4vmin ;
        font-weight: bold;
        letter-spacing: 2vmin;
        line-height: 4.5vmin;
        margin: 0;
      }

    }

    .contentCard {
      margin: 0 10vw;
      width: 80vw;
      min-height: 70vh;
      padding: 5vmin;
    }
    
  }
}


.card {
  background-color: rgba(0, 0, 0, 0.25);
}

//MANTIME
.mantine-Button-root {
  color: var(--text-primary);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  
  &:hover {
    background-color: var(--primary-dark);
  }
}

.mantine-Slider-track {
  background-color: var(--border);
}

.mantine-Slider-bar {
  background-color: var(--primary);
}

.mantine-Slider-thumb {
  background-color: var(--primary);
  border: none;
  box-shadow: var(--shadow-md);
  
  &:hover {
    background-color: var(--primary-light);
  }
}