@keyframes imageFloat {
    0%, 100% {
        transform: translateY(-0.5rem);
    }
    50% {
        transform: translateY(0.5rem);
    }
}


.mainPageContainer {
    width: 100%;
    position: relative;
    background-image: url('/images/background.webp');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;

    .introSection {
        justify-content: center;
        height: 100vh;

        .title {
            height: 20%;
            width: 100%;
            text-align: center;
            padding: 0 10vw;
        }
        
        .mainMenu {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            nav {
                height: 4rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                
                
                .leftNavbar, .rightNavbar {
                    width: 40%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    Button {
                        width: 30vw;
                        font-size: 1.3rem;
                        letter-spacing: 0.5rem;
                        padding: 0 0.5rem;
                        overflow: visible;
                        color: var(--text-primary);
                        font-weight: lighter;
                        transition: all 0.3s ease;
                        
                        &:hover {
                            color: var(--text-primary);
                            text-shadow:  0px 0px 5px #fff3e3;
                        }
                    }
                }

                .centerNavbar {
                    width: 20%;
                    transition: all 1s ease;
                    position: relative;
                    animation: imageFloat 5s ease-in-out infinite;
                    aspect-ratio: 1 / 1;
                    
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        transition: all 0.2s ease;
                    }
                }

                &.sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1000;
                    backdrop-filter: blur(5px);
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                    
                    .centerNavbar {
                        animation: none;
                        width: 10%;

                        img {
                            //transform: none !important;
                        }
                    }
                }
            }
        }

        .introAnnotation {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            p {
                font-size: 1.1rem;
                text-align: center;
                padding: 0 2rem;
                text-shadow: 0 0 50px black;
                

            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.2rem;
        font-size: 0.8rem;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: flex;
            align-items: center;
            line-height: 1px;
            letter-spacing: 0.5rem;
        }
    }
}


@media (max-width: 1024px) {
  .mainPageContainer {
    .introSection {
        nav.card {
            height: 6rem;

            position: relative;

            .centerNavbar {
                position: absolute;
                width: 190px;
                bottom: 125%;
            }

            .leftNavbar, .rightNavbar {
                width: 50%;

                button {
                    width: unset;
                }
            }
        }
    }
  }
}

@media (max-width: 768px) {
  .mainPageContainer {
    .introSection {
        justify-content: space-between;
        nav.card {
            justify-content: space-evenly;
            .leftNavbar, .rightNavbar {
                flex-direction: column;
                row-gap: 1rem;
                width: 30%;
            }

            .centerNavbar {
                position: absolute;
                width: 260px;
                bottom: 130%;
            }
        }
    }
  }
}

@media (max-width: 576px) {
  .mainPageContainer {
    .introSection {

        div.introAnnotation {
            p {
                font-size: 1.5rem;
            }

            padding-bottom: 20vh;
        }
    }
  }
}

@media (max-width: 350px) {
  .mainPageContainer {
    .introSection {

        nav.card {
            .centerNavbar {
                position: absolute;
                width: 250px;
                bottom: 200%;
            }
        }
    }
  }
}