@keyframes float {
    0%, 100% {
        transform: translateY(-0.5vmin);
    }
    50% {
        transform: translateY(0.5vmin);
    }
}

.mainPageContainer {
    width: 100%;

    background-image: url('/images/background.webp');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    

    .introSection {
        justify-content: center;
        height: 100vh;
        .title {
            height: 20%;
        }
        
        .mainMenu {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            nav {
                height: 6vmin;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
                
                
                .leftNavbar, .rightNavbar {
                    width: 40%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    Button {
                        width: 30vw;
                        font-size: 1.2vw;
                        letter-spacing: 0.5vw;
                        padding: 0 0.5vw;
                        overflow: visible;
                        color: var(--text-primary);
                        font-weight: lighter;
                        transition: all 0.3s ease;
                        
                        &:hover {
                            color: var(--text-primary);
                            text-shadow:  0px 0px 5px #fff3e3;
                        }
                    }
                }

                .centerNavbar {
                    width: 20%;
                    transition: all 1s ease;
                    position: relative;
                    animation: float 5s ease-in-out infinite;
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                        transition: all 0.2s ease;
                    }
                }

                &.sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1000;
                    backdrop-filter: blur(5px);
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                    
                    .centerNavbar {
                        animation: none;
                        width: 4%;

                        img {
                            transform: none !important;
                        }
                    }
                }
            }
        }

        .introAnnotation {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            p {
                font-size: 1.5vmin;
                text-align: center;
                margin: 0 15vmin;
            }
        }
    }
}