.mainPageContainer {
    width: 100%;

    background-image: url('/images/background.webp');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    

    .introSection {
        justify-content: center;
        height: 100vh;
        .title {
            height: 20%;
        }
        
        .mainMenu {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            nav {
                height: 6vmin;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s ease;
            

                .leftNavbar, .rightNavbar {
                    width: 40%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    Button {
                        width: 30vmin;
                        font-size: 3vmin;
                        letter-spacing: 1vmin;
                        
                        font-weight: lighter;
                    }
                }

                .centerNavbar {
                    width: 20%;
                    transition: all 0.5s ease;
                    position: relative;
                    img {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                    }
                }

                &.sticky {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1000;
                    backdrop-filter: blur(5px);
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

                    .centerNavbar {
                        //transform: scale(0.5) translateY(-20%);
                        //transform: scale(0.2);
                        width: 4%;
                    }
                }
            }
        }

        .introAnnotation {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            p {
                font-size: 1.5vmin;
                text-align: center;
                margin: 0 15vmin;
            }
        }
    }
}