.portfolioSection {
    .portfolio.contentCard {

        padding-left: 10vmin;
        padding-right: 10vmin;

        display: flex;
        justify-content: space-around;
        align-items: stretch;

        .songCard {
            width: 28%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            
            
            .songTitle {
                font-weight: bold;
                font-size: 2vmin;
                letter-spacing: 0.4vmin;
                height: 3vmin;
            }
            
            .songSubtitle {
                font-size: 1vmin;
                letter-spacing: 0.4vmin;
                height: 2vmin;
            }
            
            .songImg {
                margin: 2vmin 0;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18vmin;
                height: 18vmin;
                border: 3vmin solid black;

                img {
                    width: 100%;
                }
            }

            .keywords {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                height: 2vmin;
                font-size: 1.5vmin;

                margin: 1vmin 0;
                margin-bottom: 5vmin;

                span {
                    margin: 0 1vmin ;
                }
            }

            .description {
                margin-top: 2vmin;
                height: 20vmin;
                font-size: 1.1vmin;
                text-align: justify;
                letter-spacing: 0.2vmin;
            }

            .player {
                align-content: flex-end;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                .playerButton {
                    border-radius: 50%;
                    background-color: var(--text-primary);
                    color: var(--color-primary);

                    svg.icon {
                       color: var(--color-primary);
                   }
                }

                .playerIndicator {
                    width: 100%;

                    position: relative;
                    height: 3px;
                    background: var(--text-primary);
                    margin: 3vmin 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    
                    .startPoint {
                        background: var(--text-primary);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: relative;
                        span {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            font-size: 1.5vmin;
                        }
                    }

                    .endPoint {
                        background: var(--text-primary);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: relative;

                        span {
                            position: absolute;
                            top: 100%;
                            right: 0;
                            font-size: 1.5vmin;
                        }

                    }
                }

            }

        }
    }
}
