.aboutSection {
    min-height: 0;
    .aboutMe.contentCard {
        min-height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .innerContent {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            
            .leftColumn, .rightColumn {
                background: linear-gradient(257deg,rgba(0, 0, 0, 0.53) 8%, rgba(21, 19, 19, 0.3) 49%, rgba(0, 0, 0, 0.43) 88%);
                width: 30%;
                
                text-align: justify;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                p {
                    color: var(--text-highlight);
                    font-family: var(--text-font);
                    font-size: 0.85rem;
                    margin: 1rem;
                    letter-spacing: 0.2rem;
                    font-weight: 200;

                }
            }
    
            .centerColumn {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 95%;
                }
            }
        }

    }
}

@media (max-width: 1280px) {
    .aboutSection.secondarySection {
        .aboutMe.contentCard {
            margin: 0;
            width: 95vw;
            padding: 2rem;

            .innerContent {

                .centerColumn {
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .aboutSection.secondarySection {
        .aboutMe.contentCard {
            margin: 0;
            padding: 1rem;

            .innerContent {
                .leftColumn {

                } 
                
                .rightColumn {
                    
                }

                .centerColumn {
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .aboutSection.secondarySection {
        .aboutMe.contentCard {
            margin: 0;
            padding: 1rem;
            
            .innerContent {
                flex-wrap: wrap;
                row-gap: 2rem;
                .leftColumn {
                    width: 49%;
                    z-index: 1;
                } 

                .centerColumn {
                    width: 49%;
                    transform: scaleX(-1);
                }
                
                .rightColumn {
                    width: 100%;
                }

            }
        }
    }
}


@media (max-width: 576px) {
    .aboutSection.secondarySection {
        .aboutMe.contentCard {
            margin: 0;
            padding: 1rem;
            
            .innerContent {
                flex-wrap: wrap;
                row-gap: 2rem;
                justify-content: center;
                .leftColumn {
                    width: 100%;
                    z-index: 1;
                } 
                
                .centerColumn {
                    width: 80%;
                    transform: scaleX(1);
                }
                
                .rightColumn {
                    width: 100%;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}